@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background-color: #14161a;
  color: white;
}

a {
  text-decoration: none;
  color: gold;
}
